

@import "../node_modules/primeflex/primeflex.min.css";

body {
  width: 80vw;
  margin-inline: auto;
}

@media screen and (max-width: 1440px) {
  body {
    width: 100vw;
    margin-block: 0;
  }
  
}