

#auth-dialog-content {
  .p-tabmenu-nav {
    display: flex;
    width: 25rem;
    max-width: 100vw;
    
    li {
      flex: 1;

      .p-menuitem-link {
        display: flex;
        justify-content: center;
      }
    }
  }
}